/*no borrar este o se volvera un menu pequeño*/
.mega-menu {
    position: static;
}

.mega-menu-content {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    background: #2d2d2d;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 5px 15px rgba(255, 242, 0, 0.2);
    z-index: 1000;
}
.mega-menu:hover .mega-menu-content {
    display: block;
    transition: width 0.3s ease;
}
.mega-menu-content h5 {
    font-weight: bold;
    margin-bottom: 15px;
    padding-top: 10px;
}
.navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}
.navbar-nav .nav-item {
    white-space: nowrap;
}